<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <a class="navbar-brand" routerLink="/home">AppNotas</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
       aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <ul class="navbar-nav me-auto">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
             Notes
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" routerLink="/notes">View</a></li>
             <li><a class="dropdown-item" routerLink="/create-note">Create</a></li>
             <li><a class="dropdown-item" routerLink="/edit-note">Edit</a></li>
             <li><a class="dropdown-item" routerLink="/delete-note">Delete</a></li>
           </ul>
         </li>
         <li><a class="nav-link" routerLink="/archived">MyArchive</a></li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tags
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-tag">Create</a></li>
          </ul>
        </li>
  
<!--          <li class="nav-item">
           <a class="nav-link" routerLink="/create-tag">Create Tag</a>
         </li> -->
       </ul>
       
       <ul class="navbar-nav ms-auto">
         <li *ngIf="isLoggedIn"><a class="nav-link user-select-none" (click)="logout()">Cerrar Sesión</a></li>
       </ul>
     </div>
  </div>
 </nav>
 